main section article {
    padding: 110px 0;
    margin : 0 auto;
  }
  article .one-content h1 {
    font-size: 50px;
    color: sandybrown;
    font-weight: 500;
    text-align: center;
  }
  article .one-content p {
    color: #9D9D9D;
    font-size: 18px;
    font-weight: 300;
    text-align: center;
    padding-top: 10px;
  }
  article .two-content div {
    text-align: center;
  }
  article .two-content img{
    text-align: center;
    padding: 70px 0;
  }
  article .two-content p{
    color: #000;
    font-size: 18px;
    font-weight: 300;
    padding-top: 20px;
    text-align: justify;
  }
  article .two-content h3{
    color: salmon;
    font-size: 26px;
    font-weight: 400;
    padding-top: 60px;
  }  
  main .content-article {
    display: flex;
    justify-content: space-between;
  }
    main section.light-gray {
    background-color: #F6F6F6;
    padding: 80px 0;
  }
    main section.light-gray h3 {
    color: sandybrown;
    font-size: 25px;
    font-weight: 700;
    padding-top: 45px;
  }
    main section.light-gray p.space {
    color: #000;
    font-size: 17px;
    font-weight: 300;
    padding: 25px 30px 50px 30px;
  }
    main section .start-now a{
    color: #FFF;
    font-size: 20px;
    padding: 15px 50px;
    background-color: sandybrown;
    border-radius: 50px;
    text-decoration: none;
    margin-top: 25px;
    transition: all .5s;
  }
    main section .start-now a:hover{
    background-color: sandybrown;
  }
    .content-article article {
    text-align: center;
  }
  .content-article article img{
    height: 272px;
  }
  .light-gray div h2 {
    font-size: 50px;
    color: sandybrown;
    font-weight: 400;
    text-align: center;
  }
  article .two-content h4{
    color: salmon;
    font-size: 26px;
    font-weight: 400;
    padding-top: 60px;
    text-align: justify;
  }
  article .two-content ul{
    color: #000;
    font-size: 18px;
    font-weight: 300;
    padding-top: 20px;
    text-align: justify;
  }